:root{
    --primary:#9757FF;
}
@font-face {
    font-family: "ComicNeue";
    src: url("fonts/ComicNeue-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "ComicNeue";
    src: url("fonts/ComicNeue-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "ComicNeue";
    src: url("fonts/ComicNeue-BoldItalic.ttf");
    font-weight: bold, italic;
}
@font-face {
    font-family: "ComicNeue";
    src: url("fonts/ComicNeue-Italic.ttf");
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--primary);
}
h1,h2,h3,h4,h5,h6{
    font-family: ComicNeue;
    font-weight: bold;
}
.navbar{
    background-color: white;
    padding: 0% 10%;
    z-index: 2147483647;
    position: fixed;
    top: 0px;
    width: 100%;
    border-bottom: var(--primary) 0px solid;
    padding: 22px 10%;
    /* box-shadow: 0px 0px 30px 0px var(--primary); */
}

.navbar a{
    font-family: ComicNeue;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: black;
}
.nav-item{
    padding: 24px 0%;
    margin: 30px;
    border-bottom: var(--primary) 0px solid;
}
.body{
    width: 80%;
    margin: auto;
}
.social-img{
    width: 40px;
    margin-bottom: 30px;
}
.intro{
    margin: 5% 10%;
}
h3{
    color: #424242;
    font-family: ComicNeue;
    font-weight: bold;
    font-size: x-large;
}
.sub-head{
    margin-top: -5%;
    margin-bottom: 5%;
}
.section{
    margin-top: 10%;
}
.links{
    margin-top: -2.5%;
}
p{
    text-align: justify;
    font-family: ComicNeue;
    font-size: larger;
    color: #6e6e6e;
    letter-spacing: 1px;
    line-gap-override: 2px;
}
.contact-btn{
    background-color: var(--primary);
    padding: 2% 5%;
    border: var(--primary) 0px;
    border-radius: 5px;
}
.contact-btn-alt{
    background-color: #fff;
    padding: 2% 5%;
    border: var(--primary) 0px;
    border-radius: 5px;
}
.fa{
    padding-left: 20px;
}
.title{
    text-align: center;
}
.full_img{
    width: 60%;
    margin: 10% 20%;
    border-radius: 20px;
}
.content{
    width: 90%;
    margin: 5% 5%;
}
.graph{
    text-align: center;
}
.edu-desc{
    color: #6e6e6e;
}
.project-details{
    color: #6e6e6e;
    text-align: justify;
    margin-top: 2.5%;
}
#contact a{
    color: #424242;
}
@media only screen and (max-width: 1200px) {
    .navbar{
        visibility: collapse;
    }
  }